* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
}

h2 {
    color: #00aa7a;
}

h4 {
    color: #3fdbaf;
}

footer {
    padding: 25px;
    color: white;
    background-color: #0083b2;

    text-align: center;
    font-weight: bold;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

.profile {
    text-align: center;
}

.edit_image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

.profile.img {
    max-width: 200px;
}

.card {
    box-shadow: 0 2px 8px;
    border-radius: 5px;
    
    padding: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color:#3fdbaf;
    text-align: center;
    color: white;
}

nav ul {
    padding-inline: 4rem;
    display: flex;

    gap: 2rem;
}

nav li {
    list-style-type: none;
}

nav {
    background-color:#00aa7a;
    padding: 5px;

    position: sticky;
    top: 0;
}

main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

#content {
    flex: 3;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1;
    box-sizing: content-box;
    margin-top: 20px;
    padding-left: 20px;
    flex: 0 0 25%;
    max-width: 300px;
    flex-basis: 25%;
    margin-top: 20px;
    padding-left: 20px;
    min-width: 250px;
}

header {
    display: inline;
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }
}

main aside {
    align-self: stretch;
}
